

body{
margin: 0px;  
}
    

#Frame{ 
width: 900px;
height: 90%;
background-color: rgba(255, 240, 240, 0.034);
}


#Top{ 
position: fixed;
width: 800px;
height: 15%; 
}

#Top_Describe
{
    position: fixed;
    top: 1.5%;
    left: 140px;
    right: auto;
    bottom: auto;

}



#Left{ 
position: fixed;
width:250px; 

top: 15%; right: Auto; bottom: auto; left: 0px;
line-height: 22px;
}

#Left_Education
{
margin-left: 5px;
}

.Left_Title{
    margin-left: 5px;
}

.Left_Project{   
    margin-left: 10px;
}





#Right{ 
position: fixed; width:600px; 
top: 15%; right: Auto; bottom: Auto; left: 250px; 
margin-left: 14px;
}

.Right_Title{
position: relative; 
}

#Right_Experience,#Right_Introduction
{
    margin-left: 5px;
}  

.Right_EndTime
{
    position: fixed;  
    left: 750px;  
    text-align: right;
}
.Right_Describe
{
    line-height: 28px;
}

.Right_Position{
    color: rgb(180,180,180)
}
    